.callaway-products {
  margin-left: 6px;
}
.taylormade-products {
  margin-left: 6px;
}
h3 {
  text-align: center;
  margin: 30px;
  color: #74bde0;
}
.box :hover {
  background-color: #2b2b22;
  opacity: 0.3;
}
