.individualContainer {
  width: 100%;
  height: 100vh;
  position: fixed;
}
.productDetails {
  width: 80%;
  height: 70%;
  margin: auto;
  margin-top: 60px;
  box-shadow: 5px 5px 41px -8px rgba(0, 0, 0, 0.79);
  -webkit-box-shadow: 5px 5px 41px -8px rgba(0, 0, 0, 0.79);
  -moz-box-shadow: 5px 5px 41px -8px rgba(0, 0, 0, 0.79);
}
