.SignIn-container {
  background-image: url("../assets/titleist.png");
  background-position: center;
  background-size: cover;
  height: 86vh;
  background-color: black;
}
.signIn {
  background-color: white;
  height: 50vh;
  width: 50%;
  margin: auto;
  border-radius: 8px;
  opacity: 0.9;
  margin-left: 400px;
  position: fixed;
  margin-top: 100px;
}
