* {
  font-family: "Raleway", sans-serif;
}
.manageProducts {
  width: 90%;
  margin-top: -100px;
  text-align: center;
  margin: auto;
  padding: 5%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.manageProducts .products {
  margin: 0;

  padding-top: 0;
  width: 60%;
  overflow: auto;
}

.manageProducts p {
  margin-bottom: 5%;
}

/* Add a product modal */
.AddProduct {
  width: 50%;
  height: 80vh;
  margin-top: 25px;
  float: right;
  margin-right: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 10px 8px 39px -9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 8px 39px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 8px 39px -9px rgba(0, 0, 0, 0.75);
}
label,
input {
  display: block;
}

form {
  margin: auto;
  margin-top: 60px;
}
input {
  padding: 5px;
  margin: auto;
  margin-top: 20px;
  width: 50%;
  border: 0.5px solid black;
  border-radius: 4px;
  align-items: center;
  box-sizing: border-box;
}
form button {
  border: 0;
  color: black;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

/* product data on left hand side  */
.display-products {
  float: left;
  width: 45%;
  margin-top: 25px;
  border-radius: 5px;
  border: 0.5px solid #74bde0;
  margin-left: 20px;
  height: 80vh;
  overflow: scroll;
}
p {
  margin-top: 2%;
}
#imgUpload {
  width: 98px;
  background-color: #74bde0;
}
.display-products h3 {
  text-align: center;
  margin-top: 10px;
}
