.productCard {
  width: 30%;
  height: 47%;
  margin-left: 2.6%;
  margin-top: 3%;
  border: 0.5px solid #74bde0;
  border-radius: 5px;
  color: white;
  float: left;
  overflow: hidden;
  white-space: nowrap;
}
#prodDesc {
  font-size: x-small;
}
.cardInfo {
  background-color: #74bde0;
  height: 56%;
}
.productCard p {
  margin-top: 3%;
  margin-left: 5%;
}
#cardImg {
  height: 100px;
  width: 100px;
  text-align: center;
  margin-left: 50px;
}
