.allProductsCard {
  width: 15%;
  height: 50%;
  color: white;
  margin-top: 3%;
  border: 0.5px solid #74bde0;
  border-radius: 5px;
  display: inline-block;
  margin-right: 2%;
  margin-left: 3%;
}
#prodDescription {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.allProductsCard p {
  padding-left: 4%;
}
.allProductsCard #cardImg {
  height: 180px;
  width: 180px;
  margin-left: 30px;
}
